<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:hrpc="http://www.hll.com/hrpc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.hll.com/hrpc http://www.hll.com/hrpc/hrpc.xsd">

  <hrpc:service ref="" interfaceName=""/>

  <hrpc:registry address="" protocal=""/>

</beans>